.githubLink {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.themeToggle {
    position: absolute;
    top: 8px;
    right: 48px;
    cursor: pointer;
}

.githubLink .icon,
.themeToggle .icon {
    fill: #fff;
}