.list {
    position: relative;
    margin-right: 40px;
    width: 320px;
    min-height: 112px;
    flex-shrink: 0;
    background: var(--listBg);
    border-radius: var(--borderRadius);
    padding-bottom: 4px;
    border: var(--border);
    backdrop-filter: blur(10px);
}

.listTitle {
    font-size: 20px;
    font-weight: bold;
    font-family: var(--titleFont);
    color: var(--fontColor);
    padding: 16px;
}

.listIconLeft {
    right: 80px;
}

.listIconRight {
    right: 48px;
}

.cards {
    overflow-y: auto;
    max-height: calc(100dvh - 212px);
    margin-bottom: 8px;
}